.selected {
    background-color: rgba(218, 44, 13, 0.966);
    cursor: not-allowed;
    color: wheat;
}

.not-selected {
    background-color: rgb(0, 255, 85);
}

@media (min-width: 900px) {
    .shift {
        min-width: 22%;
    }
}

@media (min-width: 760px) {
    .shift {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px 15px;
    }
}

.avatar-img {
    border-radius: 50%;
    height: 90%;
    width: auto;
}

.bg-img-doctor {
    /* background: rgb(0, 238, 255); */
}

.containerDT{
    margin-top: 100px;
}
